html[data-theme="dark"] {
  --fg-color: #eee;
  --fg2-color: #bcbcbc;
  --bg-color: #333;
  --anchor-color: #60a5fe;
  --anchor-visited-color: #5a8fd5;
  --border-color: #818181;
  --table-color: #d8d8d8;
  --table-row-header-color: #0a0a0a;
  --table-row-alt-color: #272727;
  --table-head-border-color: #999;
  --table-head-border-bottom-color: #bbb;
  --header-color: #fff;

  --list-post-date: #bbb;
}
