html {
  --fg-color: #111;
  --fg2-color: #828282;
  --bg-color: #fdfdfd;
  --anchor-color: #2a7ae2;
  --anchor-visited-color: #1756a9;
  --border-color: #e8e8e8;
  --table-color: #3f3f3f;
  --table-row-header-color: #f0f0f0;
  --table-row-alt-color: #f7f7f7;
  --table-head-border-color: #dedede;
  --table-head-border-bottom-color: #c9c9c9;
  --header-color: #424242;


  --list-post-date: #666;
}
