name: Build zola website to ensure no errors

on:
  pull_request:
    branch:
      master

jobs:
  build:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3.0.0
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.17.2
        env:
          BUILD_ONLY: true
